body {
    background-color: rgb(151, 8, 187);
    margin: 0%;
}

#Main {
    height: 100vh;
    display: grid;
    grid-template-rows: 80% 20%;
}

#Main1 {
    display: grid;
    grid-template-rows: 60% 40%;
}

#first {
    display: flex;
    justify-content: center;
    align-items: end;
}

.waviy {
    display: flex;
    justify-content: center;
    align-items: center;
}

@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');





.waviy {
    -webkit-box-reflect: below -80% linear-gradient(transparent, rgba(15, 79, 139, 0.5));
    font-size: 60px;
}

.waviy span {
    font-family: 'Alfa Slab One', cursive;
    color: #fff;
    text-transform: uppercase;
    animation: waviy 3s infinite;
    animation-delay: calc(.3s * var(--i));

}

@keyframes waviy {

    0%,
    40%,
    100% {
        transform: translateY(0)
    }

    20% {
        transform: translateY(-20px)
    }
}


#name {
    text-transform: uppercase;
    background-image: linear-gradient(-225deg,
            #231557 0%,
            #44107a 29%,
            #ff1361 67%,
            #fff800 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 5s linear infinite;
    display: inline-block;
    font-size: 190px;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}
